body {
  background-color: #EDEBE9;
  margin: 0px;
}
  
p {
  color: #000000;
  font-family: Century Gothic, sans-serif;
  margin: 30px;
  line-height: 1.5;
}
  
h1, h2 {
    font-family: 'Courier New', serif;
    margin: 30px
}

sup {
    color: red;
}

div.header{
  display: flex;
  padding: 20px;
  background: #8CC084;
  align-items: center;
  justify-content: space-between;
}

div.logo {
  font-family: 'Cascadia Mono', serif;
  font-size: 3rem;
  display: inline-block;
}

div a {
  text-decoration: none;
  margin-right: 1rem;
  color: #000000;
}

div.header li {
  font-family: 'Bahnschrift', serif;
  font-size: 1.5rem;
  list-style: none;
  display: inline-block;
}

div.nav {
  width: fit-content;
  margin-left: 30px;
  border-style: solid;
}

div.nav li {
  font-family: 'Bahnschrift', serif;
  font-size: 22px;
  line-height: 1.5;
  font-weight: bold;
  margin-right: 30px;
  list-style: none;
  display: block;
}

a.gotop {
  font-weight: bold;
  text-decoration: underline;
}

a.home {
  font-family: 'Bahnschrift', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  background-color: #6F5E53;
  color: #EDEBE9;
  padding: 10px;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
}


div.resumebox {
  display: inline-table;
  width: fit-content;
  border-style: solid;
  margin: 30px;
}

div.resumebox li {
  font-family: 'Cascadia Mono', sans-serif;
  margin-right: 30px;
}

