body {
    background-color: #EDEBE9;
    margin: 0px;
  }
  
  p {
    color: #000000;
    font-family: 'Cascadia Code', Century Gothic, sans-serif;
    margin: 30px;
    line-height: 1.5;
  
  }
  
  h1 {
    font-family: 'Bookman Old Style', serif
  }